<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Contact</title>
 <link rel="stylesheet" href="./styles.css">
<header>
	<h1>ISHAR ONLINE</h1>
	<div id='cssmenu'>
<ul>
   <li class='active'><a href='library.html'><span>Library</span></a>
              
         </li>
     <li><a href='consciousness.html'><span>Consciousness</span></a></li>
     <li><a href='supervisoryboard.html'><span>Supervisory Board</span></a></li>
     <li class="has-sub"><a href='#'><span>Scholor Hub Search</span></a>
 		<ul>
         <li class='has-sub'><a href='signup.html'><span>Sign Up</span></a></li>
         <li class='has-sub'><a href='scholorhub.html'><span>Scholor Hub</span></a></li>
      </ul>
     </li>


      <li class="has-sub"><a href='about.html'><span>About</span></a>
      	<ul>
         <li class='has-sub'><a href='affiliations.html'><span>Affiliations</span></a></li>
         <li class='has-sub'><a href='contact.html'><span>Contact</span></a></li>
      </ul>
      </li>
</ul>
</div>
</header>
</head>

<body>

<div id="contact block">
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;



<h3>Contact US</h3>

ISHAR's Facebook: <a href="https://www.facebook.com/isharonline">https://www.facebook.com/isharonline</a>
	<br>ISHAR's Twitter: <a href="https://twitter.com/ISHARonline">https://twitter.com/ISHARonline</a>
	<br><br>To contact ISHAR directly, please email admin@isharonline.org with any questions, comments or information. If you are an expert in any given field, please note this in the subject line.  Please do not hesitate, we want to hear from you.
Share your studies with ISHAR, and we will share them with the world.

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a><br><br><br>

</div>


 <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        &nbsp;</a>


 <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        &nbsp;</a>


</body>

</html>