<!DOCTYPE html>
<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>ISHAR ONLINE </title>
 <link rel="stylesheet" href="./styles.css">

</head>

<body>
 <link rel="stylesheet" href="../views/styles.css">

<header>
	<h1 <a href="http://google.com"><img src="logo.png" style="width:40px height:40px"></a>ISHAR ONLINE</h1>
	<div id='cssmenu'>
<ul>
   <li class='active'><a href='library.html'><span>Library</span></a>
               </li>
        </li>
     <li><a href='consciousness.html'><span>Consciousness</span></a></li>
     <li><a href='supervisoryBoard.html'><span>Supervisory Board</span></a></li>
     <li class="has-sub"><a href='scholorhub.html'><span>Scholor Hub Search</span></a>
 		<ul>
         <li class='has-sub'><a href='signUp.html'><span>Sign Up</span></a></li>
         <li class='has-sub'><a href='scholorHub.html'><span>Scholor Hub</span></a></li>
      </ul>
     </li>


      <li class="has-sub"><a href='#'><span>About</span></a>
      	<ul>
         <li class='has-sub'><a href='affiliations.html'><span>Affiliations</span></a></li>
         <li class='has-sub'><a href='contact.html'><span>Contact</span></a></li>
      </ul>
      </li>
</ul>
</div>

</header>

<div id='container'>  
  <div class='cell'><input type='search' placeholder='Search'></div>
  <div class='cell'><div class='button'>Search</div></div>
</div>


</head>

<body>



</body>

</html>



